In [ ]:
s = "this is My First Python programming class and i am learNING python string and its function"
1 . Try to extract data from index one to index 300 with a jump of 3 
2. Try to reverse a string without using reverse function 
3. Try to split a string after conversion of entire string in uppercase 
4. try to convert the whole string into lower case 
5 . Try to capitalize the whole string 
6 . Write a diference between isalnum() and isalpha()
7. Try to give an example of expand tab
8 . Give an example of strip , lstrip and rstrip 
9.  Replace a string charecter by another charector by taking your own example 
"sudhanshu"
10 . Try  to give a defination of string center function with and exmple 
11 . Write your own definition of compiler and interpretor without copy paste form internet in your own language
12 . Python is a interpreted of compiled language give a clear ans with your understanding 
13 . Try to write a usecase of python with your understanding .


you have to send a jupyter notebook to shivan@ineuron.ai before next saturday class 21st of may .

In [1]:
s = "this is My First Python programming class and i am learNING python string and its function"

In [2]:
#1 . Try to extract data from index one to index 300 with a jump of 3 
s[1:300:3]

'h   r tnrrmglsnimeNGyosi dtfco'

In [3]:
#2. Try to reverse a string without using reverse function
s[::-1]

'noitcnuf sti dna gnirts nohtyp GNINrael ma i dna ssalc gnimmargorp nohtyP tsriF yM si siht'

In [4]:
#3. Try to split a string after conversion of entire string in uppercase 
a = s.upper()
a.split()

['THIS',
 'IS',
 'MY',
 'FIRST',
 'PYTHON',
 'PROGRAMMING',
 'CLASS',
 'AND',
 'I',
 'AM',
 'LEARNING',
 'PYTHON',
 'STRING',
 'AND',
 'ITS',
 'FUNCTION']

In [5]:
#4. try to convert the whole string into lower case 
s.lower()

'this is my first python programming class and i am learning python string and its function'

In [6]:
#5 . Try to capitalize the whole string 
s.capitalize()

'This is my first python programming class and i am learning python string and its function'

In [7]:
#6 . Write a diference between isalnum() and isalpha()
s5 = 'asd1234'
s5.isalnum() #Checks either for alphabets or numbers

True

In [8]:
#6 . Write a diference between isalnum() and isalpha()
s5 = 'asd1234'
s5.isalpha() #Checks only for alphabets

False

In [9]:
#7. Try to give an example of expand tab
s1 = '\ttte\tytr\t789\t'
s1.expandtabs()

'        tte     ytr     789     '

In [10]:
#8 . Give an example of strip , lstrip and rstrip 
s6 = '     akshay      '
s6.strip() #Strips all whitespaces present in the string 'Akshay'

'akshay'

In [11]:
#8 . Give an example of strip , lstrip and rstrip 
s6 = '     akshay      '
s6.lstrip() #Strips only the whitespaces present on the left of the string 'Akshay'

'akshay      '

In [12]:
#8 . Give an example of strip , lstrip and rstrip 
s6 = '     akshay      '
s6.rstrip() #Strips only the whitespaces present on the right of the string 'Akshay'

'     akshay'

In [13]:
#9.  Replace a string character by another charactor by taking your own example 
s7 = "akshay"
s7.replace('a','r')

'rkshry'

In [14]:
#10 . Try  to give a definition of string center function with and exmple 
#String Center aligns the string(in a space of characters mentioned in frst argument), using the second argument as fill character, which can only be 1 character long
s8 = " banana "
s8.center(20,"+")

'++++++ banana ++++++'

#11 . Write your own definition of compiler and interpretor without copy paste form internet in your own language
Compiler is used to validate the entire code and translates into machine language. Any syntactical errors are caught by Compiler
Interpretor translates the code line by line into machine language. Any run-time execution errors are caught by Interpretor.

#12 . Python is a interpreted or compiled language give a clear ans with your understanding 
Python is a classic example of Interpreted language. 
The code in a Python program is converted into machine language, line by line, which is then executed by the Python machine.

#13 . Try to write a usecase of python with your understanding .
Python can be used to fill a form, by taking inputs from user
    If user inputs all letters in lowercase, we can instantaneously validate and correct the input, using s9.islower() fuction
    and accordingly using s9.upper() function.